.my-box
    width: 200px
    height: 30px
    border: 1px solid #ccc

.icon
    width: 200px
    height: 200px
    margin: 10px 0
    font-size: 42px
    line-height: 100px
    color: #333
    transition: font-size 0.25s ease-out 0s

.icon:hover
    font-size: 100px
