@font-face {
  font-family: gb2312;
  src: url(./gb2312.ttf);
}
body {
  background-color: red;
  color: white;
  font-size: 36px;
  /* background: url(./bg.jpg) center center; */
  /* font-family: gb2312; */
}